@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d0e11;
  color: #ffffff;
  font-family: "Favorit Pro";
  height: 100%;
}

input[type="checkbox"] {
  appearance: none;
  background-color: inherit;
  margin: 0;
  font: inherit;
  color: white;
  min-width: 1.15em;
  min-height: 1.15em;
  border: 1px solid white;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.7em;
  height: 0.7em;
  transform: scale(0);
  /* transition: 120ms transform ease-in-out; */
  box-shadow: inset 1em 1em white;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  --form-control-color: gray;
  color: gray;
  cursor: not-allowed;
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
}
