@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: "#ffffff";
  color: #212121;
  font-family: "Favorit Pro";
  height: 100%;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #687385;
  min-width: 1.15em;
  min-height: 1.15em;
  border: 1px solid #687385;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.7em;
  height: 0.7em;
  transform: scale(0);
  /* transition: 120ms transform ease-in-out; */
  box-shadow: inset 1em 1em #687385;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  --form-control-color: gray;
  color: gray;
  cursor: not-allowed;
}

.custom-select-wrapper select {
  -webkit-appearance: none;
  appearance: none;
}

.custom-select-wrapper {
  position: relative;
}

.custom-select-wrapper::after {
  content: "▾";
  font-size: 1rem;
  top: calc(50% - 0.5rem);
  right: 10px;
  position: absolute;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}
